/* Temporary fix waiting for https://github.com/cozy/cozy-bar/pull/675 */
.coz-nav-apps-btns-main {
    font-size: 1rem;
}

html {
    --documentMaxWidth: 48rem;
    --documentDividerColor: var(--dividerColor);
    --note-base-size: 1.125rem;
    --note-base-lh: 1.5;
    --note-block-spacing: calc(var(--note-base-size) * 1.333);
    --note-maintitle-padding: 2rem;
    --documentTopPadding: calc(2 * var(--note-base-size));
    --documentPadding: calc(2 * var(--note-base-size));
    --note-title0-fs: calc(2 * var(--note-base-size));
    --note-title1-fs: calc(1.666 * var(--note-base-size));
    --note-title2-fs: calc(1.333 * var(--note-base-size));
    --note-title3-fs: var(--note-base-size);
    --note-title4-fs: var(--note-base-size);
    --note-title5-fs: calc((var(--note-base-size) * 0.89));
    --note-title6-fs: calc((var(--note-base-size) * 0.78));
    --note-title0-lh: 1.2;
    --note-title1-lh: 1.3;
    --note-title2-lh: 1.4;
    --note-title3-lh: var(--note-base-lh);
    --note-title4-lh: var(--note-base-lh);
    --note-title5-lh: 1.55;
    --note-title6-lh: 1.6;
    --note-border-radius: 8px;
    --note-header-height: 64px;
    --note-header-height-half: 1.5rem;
    color: var(--primaryTextColor);
}

@media (max-width: 800px) {
    html {
        --documentPadding: var(--note-base-size);
    }
}

@media (max-width: 420px) {
    html {
        --note-base-size: 1rem;
        --note-title0-fs: calc(1.75 * var(--note-base-size));
        --note-title1-fs: calc(1.5 * var(--note-base-size));
        --note-title2-fs: calc(1.25 * var(--note-base-size));
        --note-block-spacing: var(--note-base-size);
        --note-maintitle-padding: 0;
    }
}

/* For layout change in cozy-ui */
.note-header-menu--editing {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--paperBackgroundColor);
}

html .akEditor>div:first-child {
    position: sticky;
    top: 0;
    z-index: 3;
}

.note-editor-container {
    overflow: hidden;
}

/* prose mirror toolbar in the upper bar */
html .akEditor>div:first-child {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    position: fixed;
    top: auto;
    bottom: calc(env(safe-area-inset-bottom, 1rem) + 1rem);
    left: 50%;
    transform: translateX(-50%);
    background: none;
    box-shadow: none;
}

/* toolbar inner wrapper */
html .akEditor>div:first-child>div>div:last-child {
    box-shadow: var(--shadow1);
    border-radius: 8px;
    padding: 0.5rem;
    background: var(--paperBackgroundColor);
}

/* This is the main toolbar wrapper */
html .akEditor>div:first-child>div:first-child {
    margin: 0 15%;
    overflow: visible;
    /* important for dropdowns */
}

html .akEditor>div:first-child>div:first-child+div {
    display: block;
    width: 100%;
}

html .akEditor>div:first-child>div:first-child+div hr {
    margin-bottom: 0;
}

/* icon for text color in the toolbar was not correctly aligned */
.sc-gxMtzJ {
    position: relative;
    top: 0.2rem;
}

/* This is the main toolbar inner wrapper */
/* auto size for the toolbar ... sizes for 5+5rem as margin */
[data-testid="ak-editor-main-toolbar"]>div>div:nth-child(2) {
    display: flex;
    align-items: center;
    max-width: 768px;
    margin: auto;
}

[data-testid="ak-editor-main-toolbar"] [role="presentation"] > div > button {
    color: var(--primaryTextColor) !important;
    background-color: var(--paperBackgroundColor);
}

[data-testid="ak-editor-main-toolbar"] [role="presentation"] > div > button:hover {
    /* color: var(--primaryTextColor) !important; */
    background-color: var(--actionColorHover);
}

[data-testid="ak-editor-main-toolbar"] + div {
    height: calc(100%);
}

/* main toolbar menu */
[data-role="droplistContent"] {
    background-color: var(--paperBackgroundColor) !important;
    box-shadow: var(--shadow1) !important;
}

[data-role="droplistContent"] [role="group"] > div > span,
[data-role="droplistContent"] [role="group"] [role="presentation"] > div > span {
    color: var(--primaryTextColor) !important;
    background-color: var(--paperBackgroundColor) !important;
}

[data-role="droplistContent"] [role="group"] > div > span:hover,
[data-role="droplistContent"] [role="group"] [role="presentation"] > div > span:hover {
    background-color: var(--actionColorHover) !important;
}

[data-role="droplistContent"] [role="group"] > div > span p,
[data-role="droplistContent"] [role="group"] [role="presentation"] > div > span p {
    color: var(--primaryTextColor) !important;
}

/* shortcut tag in main toolbar menu */
[data-role="droplistContent"] [role="group"] > div > span > span:last-child > div,
[data-role="droplistContent"] [role="group"] [role="presentation"] > div > span > span:last-child > div {
    color: var(--secondaryTextColor);
    background-color: var(--defaultBackgroundColor);
}

/* date element */
.dateView-content-wrap .date-lozenger-container > span {
    color: var(--primaryTextColor);
    background-color: var(--defaultBackgroundColor);
}

/* calendar popup */
[role="presentation"] > [aria-label="calendar"] {
    background-color: var(--paperBackgroundColor);
}

/* calendar popup header */
[role="presentation"] > [aria-label="calendar"] > div {
    color: var(--secondaryTextColor);
}

/* calendar popup content */
[role="presentation"] > [aria-label="calendar"] > table > th {
    color: var(--secondaryTextColor);
}

[role="presentation"] > [aria-label="calendar"] > table > tbody div {
    color: var(--primaryTextColor);
}

[role="presentation"] > [aria-label="calendar"] > table > tbody div[data-focused="true"] {
    border-color: var(--primaryColor);
}

[role="presentation"] > [aria-label="calendar"] > table > tbody div[data-today="true"]:after {
    background-color: var(--primaryColor);
}

[role="presentation"] > [aria-label="calendar"] > table > tbody div:hover {
    background-color: var(--actionColorHover);
}

[role="presentation"] > [aria-label="calendar"] > table > tbody div[data-sibling="true"] {
    color: var(--secondaryTextColor);
}


/* Hacky CSS to hide anything that isn't the toolbar in the atlaskit toolbar wrapper (avatar component for instance) */
[data-testid="ak-editor-main-toolbar"]> :not(:first-child) {
    display: none !important;
}

@media (max-width: 1023px) {
    html {
        --useless: auto;
        /* FIXME : without this block, the next rule is not taken into account */
    }
}

@media (max-width: 1023px) {
    html {
        --notes-share-button-label: none;
        /* do not display the label in sharing button */
    }
}

@supports (-webkit-touch-callout: none) {
    body {
        -webkit-text-size-adjust: 100%
    }
}

.sto-app-back {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--iconTextColor) !important;
}

.note-header-menu--editing {
    z-index: 4;
}

.note-header-menu--editing .page-header-menu--left,
.note-header-menu--editing .page-header-menu--right {
    top: var(--note-header-height-half);
    position: absolute;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
}

.note-header-menu--editing .page-header-menu--left {
    left: 1rem;
}

.note-header-menu--editing .page-header-menu--right {
    right: 1rem;
}

/* Trying to avoid toolbars overlaps on small viewports */
/* Breakpoint was taken from Bootstrap's "X-small" breakpoint */
@media (max-width: 576px) {
    .note-header-menu--editing .page-header-menu--left {
        left: 0.25rem;
    }

    .note-header-menu--editing .page-header-menu--right {
        right: 0.25rem;
    }
}

html .note-editor-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

html .notes-list-container .page-header-menu {
    margin-left: 2rem;
    margin-right: 2rem;
}

html .ProseMirror {
    font-size: 1rem !important
}

/* Titres */
html body .note-editor-container .ak-editor-content-area p,
html body .note-editor-container .akEditor li {
    font-size: var(--note-base-size) !important;
    line-height: var(--note-base-lh) !important;
    color: var(--primaryTextColor);
}

html body .note-editor-container .akEditor h1 {
    border-top: 1px solid var(--borderMainColor);
    padding-top: var(--note-block-spacing);
    font-size: var(--note-title1-fs) !important;
    line-height: var(--note-title1-lh) !important;
    color: var(--primaryTextColor);
}

html body .note-editor-container .akEditor h2 {
    font-size: var(--note-title2-fs) !important;
    line-height: var(--note-title2-lh) !important;
    color: var(--primaryTextColor);
}

html body .note-editor-container .akEditor h3 {
    font-size: var(--note-title3-fs) !important;
    line-height: var(--note-title3-lh) !important;
    color: var(--primaryTextColor);
}

html body .note-editor-container .akEditor h4 {
    font-size: var(--note-title4-fs) !important;
    line-height: var(--note-title4-lh) !important;
    color: var(--primaryTextColor);
}

html body .note-editor-container .akEditor h5 {
    font-size: var(--note-title5-fs) !important;
    line-height: var(--note-title5-lh) !important;
    color: var(--primaryTextColor);
}

html body .note-editor-container .akEditor h6 {
    font-size: var(--note-title6-fs) !important;
    line-height: var(--note-title6-lh) !important;
    color: var(--primaryTextColor);
}

/* Titres dans la dropdown de la barre d'outils */
html body .note-editor-container .akEditor>div:first-child h4,
html body .note-editor-container .akEditor>div:first-child h5,
html body .note-editor-container .akEditor>div:first-child h6 {
    margin-bottom: 0;
}

/* spacing between blocks */
html body .note-editor-container .ak-editor-content-area p,
html body .note-editor-container .akEditor ul,
html body .note-editor-container .akEditor ol,
html body .note-editor-container .akEditor blockquote,
html body .note-editor-container .akEditor hr,
html body .note-editor-container .akEditor .tableView-content-wrap,
html body .note-editor-container .akEditor .ak-editor-panel,
html body .note-editor-container .akEditor h1,
html body .note-editor-container .akEditor h2,
html body .note-editor-container .akEditor h3,
html body .note-editor-container .akEditor h4,
html body .note-editor-container .akEditor h5,
html body .note-editor-container .akEditor h6 {
    margin-top: 0;
    margin-bottom: var(--note-block-spacing);
}

html body .note-editor-container .akEditor .ak-editor-panel__content> :last-child,
html body .note-editor-container .akEditor li>* {
    margin-bottom: 0;
}

/* blockquote */
html body .note-editor-container .akEditor blockquote {
    margin-left: 0;
    padding-left: 28px;
    border-left: 4px solid var(--borderMainColor);
    font-style: italic;
}

html body .note-editor-container .akEditor blockquote i,
html body .note-editor-container .akEditor blockquote em {
    font-style: normal;
}

html body .note-editor-container .akEditor blockquote::before {
    display: none;
}

/* hr */
html body .note-editor-container .akEditor hr {
    height: 1px;
    color: var(--dividerColor);
    background-color: var(--dividerColor);
}

/* tables */
html body .note-editor-container .akEditor .tableView-content-wrap {
    margin-top: -1.8rem;
}

html body .note-editor-container .akEditor .pm-table-wrapper>table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 0;
    background-color: var(--paperBackgroundColor);
    color: var(--primaryTextColor);
}

html body .note-editor-container .akEditor .pm-table-wrapper>table td,
html body .note-editor-container .akEditor .pm-table-wrapper>table th {
    border: 1px solid var(--borderMainColor);
    background-color: var(--paperBackgroundColor) !important;
    color: var(--primaryTextColor) !important;
    border-bottom-width: 0;
    border-right-width: 0;
}

html body .note-editor-container .akEditor .pm-table-numbered-column div {
    background-color: var(--defaultBackgroundColor);
    border: 1px solid var(--borderMainColor);
}

html body .note-editor-container .akEditor .pm-table-numbered-column__button:last-child {
    border: 1px solid var(--borderMainColor);
}

html body .note-editor-container .akEditor .pm-table-wrapper>table tr:last-child td,
html body .note-editor-container .akEditor .pm-table-wrapper>table tr:last-child th {
    border-bottom-width: 1px;
}

html body .note-editor-container .akEditor .pm-table-wrapper>table td:last-child,
html body .note-editor-container .akEditor .pm-table-wrapper>table th:last-child {
    border-right-width: 1px;
}

html body .note-editor-container .akEditor tbody>tr:first-child>th:first-child,
html body .note-editor-container .akEditor tbody>tr:first-child>td:first-child {
    border-top-left-radius: var(--note-border-radius);
}

html body .note-editor-container .akEditor tbody>tr:first-child>th:last-child,
html body .note-editor-container .akEditor tbody>tr:first-child>td:last-child {
    border-top-right-radius: var(--note-border-radius);
}

html body .note-editor-container .akEditor tbody>tr:last-child>th:first-child,
html body .note-editor-container .akEditor tbody>tr:last-child>td:first-child {
    border-bottom-left-radius: var(--note-border-radius);
}

html body .note-editor-container .akEditor tbody>tr:last-child>th:last-child,
html body .note-editor-container .akEditor tbody>tr:last-child>td:last-child {
    border-bottom-right-radius: var(--note-border-radius);
}

/* panels */
html body .note-editor-container .akEditor .ak-editor-panel {
    border-radius: var(--note-border-radius);
}

html body .note-editor-container .akEditor .ak-editor-panel[data-panel-type=note] {
    background-color: var(--paperBackgroundColor);
}

html body .note-editor-container .akEditor .ak-editor-panel[data-panel-type=note] .ak-editor-panel__icon {
    color: #96999D;
}

html body .note-editor-container .akEditor .ak-editor-panel[data-panel-type=info] {
    background-color: var(--paperBackgroundColor);
}

html body .note-editor-container .akEditor .ak-editor-panel[data-panel-type=info] .ak-editor-panel__icon {
    color: var(--primaryColor);
}

html body .note-editor-container .akEditor .ak-editor-panel[data-panel-type=success] {
    background-color: var(--paperBackgroundColor);
}

html body .note-editor-container .akEditor .ak-editor-panel[data-panel-type=success] .ak-editor-panel__icon {
    color: var(--successColor);
}

html body .note-editor-container .akEditor .ak-editor-panel[data-panel-type=warning] {
    background-color: var(--paperBackgroundColor);
}

html body .note-editor-container .akEditor .ak-editor-panel[data-panel-type=warning] .ak-editor-panel__icon {
    color: var(--warningColor);
}

html body .note-editor-container .akEditor .ak-editor-panel[data-panel-type=error] {
    background-color: var(--paperBackgroundColor);
}

html body .note-editor-container .akEditor .ak-editor-panel[data-panel-type=error] .ak-editor-panel__icon {
    color: var(--errorColor);
}

html .akEditor {
    background-color: var(--documentMarginColor);
    min-width: calc(320px - 2rem);
}

html .fabric-editor-popup-scroll-parent>div>div {
    margin: 0 auto;
    padding: 0;
    max-width: calc(var(--documentMaxWidth) + 2 * var(--documentPadding));
}

html .ak-editor-content-area {
    padding: var(--documentTopPadding) var(--documentPadding) calc(3 * var(--note-base-size)) var(--documentPadding) !important;
    background-color: var(--paperBackgroundColor);
}

#editor-scroll-gutter {
    display: none;
}

html .fabric-editor-popup-scroll-parent>div>div {
    height: 100%;
}

.notes-list {
    width: calc(100% - 20px);
}

.notes-list td,
.notes-list th {
    text-align: left;
    color: var(--primaryTextColor);
}

.notes-list tr>th:first-child {
    padding-left: 2rem;
}

.notes-list tr>td:last-child,
.notes-list tr>th:last-child {
    padding-right: 2rem;
    text-align: right;
}

.note-item {
    display: flex;

    align-items: center;
}

.note-icon {
    margin-right: 1rem;
}

.note-link {
    text-decoration: none;
    text-transform: none;
    font-weight: normal;
}

/* Used to avoid conflicts with sharing modal and toolbar */
[aria-label="Media floating controls"],
.richMedia-resize-handle-left,
.richMedia-resize-handle-right {
    z-index: 1 !important;
}

/* Required for toolbar's popups because unidentified internals miscalculate the popups position */
/* Since we always display the toolbar at the bottom of the screen we do not care about any other top position than zero */
[data-testid="ak-editor-main-toolbar"] [aria-label*="Popup"] {
    top: 0 !important;
}

/* Weird overflow linked to the floating toolbar, could not locate the exact origin of the problem */
body {
    overflow-x: hidden;
}

/* We had misalignment between lines and lines number because line-number-gutter doesn't have
the right padding-top.
Here we set it to 26px because: 12px (from .code-content padding top) + 14px (from pre margin top)
*/
.ProseMirror .code-block .line-number-gutter {
    padding: 26px 8px !important;
}

html body .note-editor-container .akEditor .code-block {
    background-color: var(--defaultBackgroundColor);
}

html body .note-editor-container .akEditor .code-block .code-content {
    color: var(--primaryTextColor);
}

.ProseMirror div[data-task-list-local-id] {
    margin-bottom: var(--note-block-spacing) !important;
}

.ProseMirror .placeholder-decoration {
    color: var(--secondaryTextColor) !important;
}

/*
2 problems with tables:

When the user is selecting text inside a cell,
for unknown reasons AtlasKit will add CSS class `pm-table-last-item-in-cell` along other DOM elements at unpredictable places in the table.
This specific class will add a margin-bottom 0 to the last item in a cell,
but it will also change the height of the cell, triggering the cursor position of the user to be wrong,
triggering in turn a whole new selection of text itself triggering a selection of the cell, and so on.
Finding the exact origin of the problem is too time-consuming at this point, so we just remove the margin-bottom 0 on that class and keep the default value,
this way the table height should not jump around and the user's cursor should not be misplaced, avoiding the cascade of problems described above.

The second problem is that ProseMirror adds a margin-bottom inside each cell, which is not what we want.

Updating the CSS var responsible for both these margins to 0 (meaning no more layout change) will fix both problems.
*/
.ProseMirror table {
    --note-block-spacing: 0;
}
