@require 'cozy-ui/build'

// @stylint off
.sto-app-back {
  display: inline-flex;
  align-items: center;
  margin-top: 1.5rem;
  text-decoration: none;
  color: var(--slateGrey)!important;
}

.page-header-menu {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.page-header-menu--left {
  display: flex;
}
.page-header-menu--right {
  display: flex;
}

html .ProseMirror {
  font-size: 1rem !important
}

html .ProseMirror p,
html .ProseMirror h1,
html .ProseMirror h2,
html .ProseMirror h3,
html .ProseMirror h4,
html .ProseMirror h5,
html .ProseMirror h6 {
  line-height: 1.15 !important
}

html .fabric-editor-popup-scroll-parent > div > div {
  margin: 0 -16px;
  padding: 0
}
// @stylint on
