.header-menu
    align-items center
    box-shadow 0px 0px 0px 0.5px rgba(29, 33, 42, 0.12), 0px 2px 4px rgba(29, 33, 42, 0.0793047), 0px 4px 16px rgba(29, 33, 42, 0.06)
    display flex
    justify-content space-between
    padding 0.5rem 1rem
    position relative
    z-index var(--zIndex-low) // Needed for the drop-shadow to be above the editor area

.app-icon
.home-link
    display block
    height 32px
    width 32px

.app-icon
    margin-right 1rem

.file-infos
    align-items center
    display flex
    flex-grow 1

