@require 'settings/breakpoints.styl'

/* Cozy-UI Layout adds a ::before with an height of 3rem
(https://github.com/cozy/cozy-ui/blob/master/stylus/objects/layouts.styl#L105)
on medium-screen to give to the bar the needed place. Since we hide the cozy-bar
on the editor-view we remove this margin
*/
$COZY_BAR_HEIGHT=-3rem

.note-article
    display flex
    flex-direction column
    height 100%
    width 100%

    &:not(.note-article--intents)
        +medium-screen()
            margin-top $COZY_BAR_HEIGHT

.banner
    & > :first-child
        margin calc(-1 * var(--documentTopPadding)) calc(-1 * var(--documentPadding)) var(--documentTopPadding) calc(-1 * var(--documentPadding))
        position relative
        z-index 5
        border-top 1px solid var(--borderMainColor)

.title
    height fit-content !important // to override computed value
    margin-bottom var(--note-block-spacing) !important // to override Mui

    & > div
        font-size var(--note-title0-fs)
        line-height var(--note-title0-lh)
        font-weight 900
        font-family Lato-Black, var(--primaryFont)

        +small-screen()
            line-height var(--note-title6-lh)

.titleInput
    &, &:focus, &:hover, &::placeholder
        text-align center
        font-size var(--note-title0-fs)
        line-height var(--note-title0-lh)
        font-weight 900
        font-family Lato-Black, var(--primaryFont)
        overflow visible
        min-height min-content
        +small-screen()
            line-height var(--note-title6-lh)

    &::placeholder
        opacity 1 !important // to override Mui
        color var(--secondaryTextColor) !important // to override Mui

    &, &:focus, &:hover
        opacity 1 !important // to override Mui
