@require 'settings/spaces'

.grid
    .banner &
        font-size 0.875rem
        line-height 1.3
        padding 0.25rem 1rem 0.25rem 1rem
        margin 0
        width 100%

.chip
    background-color var(--silver)
    opacity 60%

.banner
    background-color var(--paleGrey)
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(50, 54, 63, 0.08);
