@require 'settings/breakpoints.styl'

.saving-indicator
    position absolute
    bottom 1rem
    right 1rem
    padding 0.25rem 0.75rem
    color var(--coolGrey, #95999d)
    background-color: #FFFFFFAA

    +medium-screen()
        display none
