@require 'settings/breakpoints.styl'
//Cozy UI table add 1rem padding to the first column
//We want to aligne App Title and first column header
$PADDING_TABLE_FIRST_COLUMN=1rem
.empty
    position: relative
    transform: translateZ(0)
    height: 500px
    display: flex
    a
        color: var(--dodgerBlue)
.titlePadding
    padding-left $PADDING_TABLE_FIRST_COLUMN
.tableRowEmpty
    flex 1
    //Cozy UI tables add border bottom to the latest child.
    //Since when we display the empty row we have only one,
    //let's hide it
    border-bottom 0 !important
    &:hover
        background-color inherit
.tableCellEmpty
    flex-grow 1
.tableCellName
    width 40%
    +small-screen()
        width 100%
.tableCell
    width 20%
